@model WjbuGangVer2_WebNC.Models.Voucher

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Voucher</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaVoucher)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaVoucher)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenDot)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenDot)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoTienGiam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoTienGiam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoaiGiamGia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiGiamGia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TinhTrang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TinhTrang)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
